@import '../styles/palette';
@import '../styles/grid';

.site-container.resource-page {
  background-color: #f7f7f7;

  .recent-articles {
    @extend %grid;
    grid-template-rows: auto 1fr;

    & > h2 {
      font-size: 28px;
      line-height: 1.5;
      font-weight: 800;
      color: $wireframe-recentarticles-header;
      text-align: center;
      display: block;
      margin-bottom: 32px;
      grid-row: 1 / span 1;
      grid-column: 1 / span 16;
    }

    .resource-items {
      grid-column: 3 / span 12;
      grid-row: 2 / span 1;
    }
  }

  .request-demo {
    .demo-details {
      background-color: white;
    }
  }
}