@import '../styles/palette';
@import '../styles/grid';
@import '../styles/functions';
@import '../styles/breakpoints';

.site-container.resource-page {
  background-color: #f7f7f7;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;

  header.site-header {
    z-index: 3;
  }

  article {
    @extend %grid;
    grid-template-rows: 1fr;

    &::after {
      content: '';
      display: block;
      width: 761px;
      height: 915px;
      background-color: $coral;
      position: absolute;
      top: -174px;
      right: -228px;
      transform: rotate(33deg);
      opacity: 0.88;
      z-index: 1;
    }

    & > .contents {
      margin-top: 405px;

      grid-column: 3 / span 12;
      grid-row: auto;
      background-color: white;
      box-shadow: 0 2px 66px 0 rgba(0, 0, 0, 0.19);
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto 1fr;
      grid-row-gap: 24px;
      grid-column-gap: 0;
      padding-bottom: 76px;
      margin-bottom: 80px;

      & > * {
        grid-column: 3 / span 8;
      }

      .img {
        display: block;
        grid-row: 1 / span 1;
        margin-bottom: 8px;
        margin-top: -405px;
        z-index: 2;
      }

      h1 {
        grid-row: 2 / span 1;
        text-align: left;
        margin-bottom: 0;
      }

      & > div {
        grid-row: 3 / span 1;
        font-size: 16px;
        line-height: 1.75;

        h2, h3 {
          margin-bottom: 26px;
          font-size: 20px;
          font-weight: 800;
          line-height: 1.4;
          color: #4a4f55;
        }

        h3 {
          margin-bottom: 24px;
          font-size: 18px;
          line-height: 1.56;
        }

        p {
          margin-bottom: 32px;
        }

        img {
          max-width: 100%;
        }

        ol, ul {
          list-style-position: outside;
          font-size: 15px;
          line-height: 1.53;
          margin-bottom: 32px;
        }

        b {
          color: $firefly-x-light;
        }

        em {
          font-weight: bold;
          font-style: italic;
        }

        ol {
          list-style-type: decimal;
        }

        ul {
          list-style-type: disc;
        }

        blockquote {
          grid-column: 1 / span 5;
          background: white;
          box-shadow: 0 13px 44px 0 rgba(0, 0, 0, 0.09);
          padding: 97px 68px;
          font-family: Georgia, serif;
          font-size: 25px;
          line-height: 1.92;
          margin-bottom: 40px;
          width: 62.5%;
          position: relative;
          margin-top: 62px;

          &::after {
            content: url(../images/speech.svg);
            position: absolute;
            width: 364px;
            height: 316px;
            top: -52px;
            right: -102px;
            opacity: 0.4;
            color: #a5a5a5;
            z-index: 1;
          }
        }
      }
    }
  }

  .recent-articles {
    @extend %grid;
    grid-template-rows: auto 1fr;

    & > h2 {
      font-size: 28px;
      line-height: 1.5;
      font-weight: 800;
      color: $wireframe-recentarticles-header;
      text-align: center;
      display: block;
      margin-bottom: 32px;
      grid-row: 1 / span 1;
      grid-column: 1 / span 16;
    }

    .resource-items {
      grid-column: 3 / span 12;
      grid-row: 2 / span 1;
    }
  }

  .request-demo {
    .demo-details {
      background-color: white;
    }
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    article {
      &::after {
        display: none;
      }

      & > .contents {
        grid-column: 2 / span 10;
        margin-top: 325px;

        .img {
          margin-top: -325px;
        }

        & > div {
          blockquote {
            width: 60%;
            padding-left: 40px;
            padding-right: 40px;

            &::after {
              display: none;
            }
          }
        }
      }
    }

    .recent-articles {
      & > h2 {
        grid-column: 1 / span 12;
      }

      .resource-items {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2 / span 10;

        li:nth-child(n+3) {
          display: none;
        }
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    article {
      & > .contents {
        grid-column: 2 / span 6;
        margin-top: 195px;

        .img {
          margin-top: -195px;
        }

        & > div {
          blockquote {
            width: 80%;
            padding-left: 32px;
            padding-right: 32px;
          }
        }
      }
    }

    .recent-articles {
      & > h2 {
        grid-column: 1 / span 8;
      }

      .resource-items {
        grid-column: 2 / span 6;

        .resource-item, .resource-item .details {
          height: auto;
        }
      }
    }
  }

  @media(max-width: exclusive-breakpoint($small-tablet)) {
    article {
      & > .contents {
        grid-column: 1 / span 8;
        margin-top: 80px;

        .img {
          margin-top: -80px;
        }

        & > div {
          blockquote {
            width: 100%;
            padding-left: 24px;
            padding-right: 24px;
          }
        }
      }
    }

    .recent-articles {
      & > h2 {
        grid-column: 1 / span 8;
      }

      .resource-items {
        grid-column: 2 / span 6;
        grid-template-columns: 1fr;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-phone)) {
    .recent-articles {
      .resource-items {
        grid-column: 1 / span 8;
      }
    }
  }
}