@import './palette';

%btn {
  color: white;
  background-color: $cardinal-regular;
  text-align: center;
  border: none;
}

%input {
  height: 38px;
  border: 1px solid $wireframe-input-border;
  background-color: $wireframe-input-bground;
  padding: 9px 16px;

  &::placeholder {
    color: $wireframe-input-placeholder;
  }
}
