@import "./breakpoints";
@import "./functions";

%grid-no-padding {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 100%;
  grid-column-gap: 32px;

  @media(max-width: exclusive-breakpoint($hd-display)) {
    grid-column-gap: 23px;
  }
}

%grid {
  @extend %grid-no-padding;
  padding: 0 32px;

  @media(max-width: exclusive-breakpoint($hd-display)) {
    padding: 0 24px;
  }
}