@import "./breakpoints";
@import "./functions";

@mixin grid-no-padding() {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 100%;
  grid-column-gap: 32px;

  @media(max-width: exclusive-breakpoint($hd-display)) {
    grid-column-gap: 23px;
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 32px;
  }
}

@mixin grid() {
  @include grid-no-padding();
  padding: 0 32px;

  @media(max-width: exclusive-breakpoint($hd-display)) {
    padding: 0 24px;
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    padding: 0 40px;
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    padding: 0 32px;
  }
}

%grid-no-padding {
  @include grid-no-padding();
}

%grid {
  @include grid();
}