$wireframe-link: #4a4f55;
$wireframe-text: #7b7777;
$wireframe-header: #373636;
$wireframe-bground: #f7f7f7;
$wireframe-nav: #858585;
$wireframe-nav-selected: #303030;
$wireframe-footer-text: #6a6363;
$wireframe-footer-border: #eaecee;
$wireframe-copyright-bground: #e9e9e9;
$wireframe-copyright-text: #676464;
$wireframe-input-border: #c9c9c9;
$wireframe-input-bground: rgba(255, 255, 255, 0.7);
$wireframe-input-placeholder: #dce0e4;
$wireframe-input-btn: #3c3d41;
$wireframe-pricing-border: #d6d6d6;
$wireframe-pricing-text: #848484;
$wireframe-price-text: #454545;
$wireframe-pricing-heading: #373636;
$wireframe-faq-text: #5d5f64;
$wireframe-quote-bground: #2b2c2f;
$wireframe-demorequest-bground: #f5f5f5;
$wireframe-demorequest-text: #969696;
$wireframe-legals-text: #757575;
$wireframe-info-bground: #2d2f33;
$wireframe-info-header: #cdcdcd;
$wireframe-info-text: rgba(255, 255, 255, 0.56);
$wireframe-resources-bground: #dbdbdb;
$wireframe-resources-boxshadow: rgba(0, 0, 0, 0.07);
$wireframe-resources-link: #939393;
$wireframe-recentarticles-header: #727272;
$wireframe-resourcepage-boxshadow: rgba(0, 0, 0, 0.19);
$wireframe-resourcepage-text: #757575;
$wireframe-resourcepage-list: #999999;
$wireframe-resourcepage-header: #4a4f55;
$wireframe-resourcepage-blockquote-boxshadow: rgba(0, 0, 0, 0.09);
$wireframe-resourcepage-blockquote-text: #979696;