@import "../../../styles/palette";
@import "../../../styles/grid";
@import "../../../styles/forms";
@import "../../../styles/functions";
@import "../../../styles/breakpoints";

section.partners {
  background-color: $wireframe-bground;

  .partners-content {
    grid-column: 1 / span 16;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      color: $firefly-dark;
      font-size: 1.1rem;
    }

    .partners-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;

      .partners-card {
        font-size: 0.8rem;
        padding: 0 2rem;

        .partners-image {
          height: 100%;
          display: grid;
          align-items: center;
        }
        width: 330px;
        height: 225px;
        background-color: white;
      }
    }
  }
}
