@import '../styles/functions';
@import '../styles/breakpoints';

.not-found {
  position: relative;
  overflow: hidden;

  .contents {
    z-index: 1;

    a, button {
      font-weight: bold;
      background: none;
      border: none;
      padding: 0;
      color: white;
      outline: none;
      font-size: 14px;
    }

    &::after {
      content: '404';
      position: absolute;
      right: -8%;
      bottom: -14%;
      font-size: 77vh;
      line-height: 1;
      opacity: 0.02;
      color: white;
      font-weight: bold;
      z-index: -1;
    }
  }

  @media(max-width: exclusive-breakpoint($hd-display)) {
    .contents::after {
      right: -7%;
      bottom: -12%;
      font-size: 60vh;
    }
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    .contents::after {
      right: -10%;
      bottom: -6%;
      font-size: 43vh;
    }
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    .contents::after {
      right: -12%;
      bottom: -8%;
      font-size: 40vh;
    }
  }

  @media(max-width: exclusive-breakpoint($small-tablet)) {
    .contents::after {
      display: none;
    }
  }
}