@import '../styles/palette';
@import '../styles/grid';
@import '../styles/forms';

.site-container.home {
  main > section {
    @extend %grid;

    &:not(.contents) {
      padding: 86px 32px;
    }

    & > h2 {
      text-align: center;
      grid-row: 1 / span 1;
      grid-column: 1 / span 16;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  section.contents {
    grid-template-rows: 1fr auto;
    height: calc(100vh - 245px);

    button {
      @extend %btn;
      font-size: 16px;
      line-height: 1.88;
      padding: 12px 0 14px;
      text-align: center;
      width: 214px;
    }

    & > div {
      grid-row: 1 / span 1;
    }

    .intro {
      grid-column: 3 / span 5;
      padding-top: 124px;

      h1 {
        text-align: left;
        margin-bottom: 16px;
        font-size: 40px;
        font-weight: 800;
        line-height: 1.5;
        color: $wireframe-home-header;
        text-transform: uppercase;
      }

      p {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.75;
        color: $wireframe-home-text;
      }

      &.closed {
        opacity: 0;
      }
    }

    .persona-section {
      width: 0;
      overflow: hidden;
      grid-column: 1 / span 16;
      @extend %grid;

      & > * {
        opacity: 0;
      }

      &.open {
        width: 100%;
        transition: width 500ms linear;

        & > * {
          opacity: 1;
          transition: opacity 500ms linear 500ms;
        }
      }

      &.commercial {
        .persona-contents {
          grid-column: 3 / span 12;
          padding-top: 30px;
        }

        h2 {
          font-size: 28px;
          font-weight: 800;
          line-height: 1.5;
          color: $wireframe-persona-header;
          margin-bottom: 12px;
        }

        .columns {
          display: grid;
          grid-template-columns: repeat(12, 1fr);

          ul {
            margin-top: 24px;
            grid-column: 1 / span 5;

            li {
              padding: 20px 25px 10px 96px;
              box-shadow: 0 2px 12px 0 $wireframe-persona-boxshadow;
              background-color: white;
              font-size: 15px;
              line-height: 1.53;
              color: $wireframe-persona-text;
              margin-bottom: 21px;

              h3 {
                color: $wireframe-persona-header;
                font-weight: bold;
                margin: 0;
              }
            }
          }

          .details {
            grid-column: 7 / span 6;

            p {
              font-size: 16px;
              line-height: 1.75;
              color: $wireframe-persona-text;
              margin-bottom: 40px;
            }
          }
        }
      }
    }

    .persona-navigation {
      grid-row: 2 / span 1;
      grid-column: 1 / span 16;
      z-index: 2;

      h2 {
        height: 18px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        color: $wireframe-home-nav-header;
        margin-bottom: 18px;
        text-transform: uppercase;
        margin-left: 32px;
      }

      ul {
        @extend %grid;
        grid-column-gap: 0;
        width: 100%;
        padding-left: 32px;
        position: relative;
        &::before {
          content: '';
          background-color: $wireframe-home-nav-bground;
          width: 32px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }

        &::after {
          content: 'arrow_downward';
          background-color: $wireframe-home-benefits-bground;
          font-family: 'Material Icons', sans-serif;
          font-size: 36px;
          font-weight: bold;
          color: $wireframe-home-nav-arrow;
          grid-column: 13 / span 2;
          height: 100%;
          justify-content: center;
          align-content: center;
          display: grid;
        }

        li {
          background-color: $wireframe-home-nav-bground;
          border-left: 1px solid white;
          padding: 24px 32px;
          font-size: 14px;
          line-height: 1.5;
          color: $wireframe-home-nav-text;
          cursor: pointer;

          &.selected {
            background-color: $wireframe-home-nav-selected;
          }

          h3 {
            font-size: 15px;
            font-weight: bold;
            line-height: 1.53;
            color: $wireframe-home-nav-itemheader;
            margin-bottom: 4px;
          }

          &:nth-child(1) {
            grid-column: 1 / span 3;
          }
          &:nth-child(2) {
            grid-column: 4 / span 3;
          }
          &:nth-child(3) {
            grid-column: 7 / span 3;
          }
          &:nth-child(4) {
            grid-column: 10 / span 3;
            border-right: 1px solid white;
          }
        }
      }
    }
  }

  section.benefits {
    background-color: $wireframe-home-benefits-bground;
    @extend %grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 70px;
    font-size: 15px;
    line-height: 1.6;
    color: white;

    .benefits-contents {
      grid-row: 2 / span 1;
      grid-column: 1 / span 16;
      @extend %grid;

      & > blockquote {
        grid-column: 2 / span 4;
        font-size: 18px;
        font-weight: 300;
        line-height: 2;
        position: relative;

        span {
          z-index: 1;
          position: relative;
        }

        &::after {
          content: '\201D';
          display: block;
          font-size: 1000px;
          color: rgba(0, 0, 0, 0.16);
          position: absolute;
          top: -312px;
          right: 0;
          line-height: 1;
          font-family: 'Bebas', sans-serif;
          font-stretch: ultra-expanded;
          width: 255px;
          overflow: hidden;
        }

        cite {
          font-size: 13px;
          font-weight: bold;
          line-height: 1.46;
          display: block;
          margin-top: 72px;

          .company {
            font-weight: normal;
          }
        }
      }

      & > ul {
        grid-column: 7 / span 8;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 40px;
        color: $wireframe-home-benefits-text;

        h3 {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
          margin-bottom: 15px;
        }
      }
    }
  }

  main > section.partners {
    background-color: $wireframe-home-partners-bground;
    grid-template-rows: auto auto 1fr;
    padding: 71px 0 179px;

    & > h2 {
      margin-bottom: 25px;
    }

    & > p {
      grid-column: 1 / span 16;
      text-align: center;
      margin-bottom: 76px;
    }
  }

  section.customers {
    background-color: white;
    grid-template-rows: auto 1fr auto;

    h2 {
      margin-bottom: 66px;
    }

    .logos {
      grid-row: 2 / span 1;
      grid-column: 1 / span 16;
    }

    .request-demo {
      grid-row: 3 / span 1;
      grid-column: 1 / span 16;
      padding-bottom: 0;
    }
  }
}