@import '../styles/palette';
@import '../styles/grid';
@import '../styles/forms';
@import '../styles/functions';
@import '../styles/breakpoints';

.site-container.home {
  overflow-x: hidden;
  position: relative;
  background: transparent url(../images/shapes/default.svg) no-repeat 910px -1010px;

  &::before, &::after {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
  }

  & > header.site-header {
    z-index: auto;

    .logo {
      opacity: 0;
      z-index: 5;
      animation: logo-show 0.2s linear 0.2s 1 forwards;
    }
  }

  @keyframes logo-show {
    0% { opacity: 0; position: absolute; top: 0; left: 0; }
    100% { opacity: 1; position: relative; }
  }

  &::before {
    background-color: $cardinal-regular;
    left: 0;
    z-index: 4;
    animation: red-wipe 1.6s cubic-bezier(0.42, 0, 0.178, 0.918) 0.7s 1 forwards;
  }

  &::after {
    background-color: white;
    left: -1vw;
    z-index: 3;
    animation: white-wipe 1.5s cubic-bezier(0.499, 0, 0, 1) 1.5s 1 forwards;
  }

  @keyframes red-wipe {
    0% { left: 0; }
    100% { left: 100vw; }
  }

  @keyframes white-wipe {
    0% { left: -1vw; }
    100% { left: 100vw; }
  }

  &.commercial {
    background-image: url(../images/shapes/commercial.svg);
    background-position: 864px -1464px;
  }

  &.sales {
    background-image: url(../images/shapes/sales.svg);
    background-position: -1536px -330px;
  }

  &.finance {
    background-image: url(../images/shapes/sales.svg);
    background-position: -1150px -314px;
  }

  &.operations {
    background-image: url(../images/shapes/operations.svg);
    background-position: -1074px -580px;
  }

  &:not(.page-down) footer.site-footer {
    display: none;
  }

  &, & > * {
    z-index: 2;
  }

  main > section {
    @extend %grid;

    &:not(.contents) {
      padding: 86px 32px;
    }

    & > h2 {
      text-align: center;
      grid-row: 1 / span 1;
      grid-column: 1 / span 16;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  section.contents {
    grid-template-rows: 1fr auto;
    height: calc(100vh - 202px);

    button {
      @extend %btn;
      font-size: 16px;
      line-height: 1.88;
      padding: 12px 0 14px;
      text-align: center;
      width: 214px;
    }

    & > div {
      grid-row: 1 / span 1;
    }

    .intro {
      grid-column: 1 / span 16;
      grid-row: 1 / span 1;
      @extend %grid-no-padding;

      &.closed {
        display: none;
      }

      .intro-contents {
        grid-column: 3 / span 5;
        margin-top: 124px;

        h1 {
          text-align: left;
          margin-bottom: 16px;
          font-weight: 800;
          color: $firefly-dark;
          font-size: 80px;
          line-height: 0.98;
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
        }

        p {
          margin-bottom: 32px;
          font-size: 16px;
          line-height: 1.75;
          color: $nevada;
        }
      }

      .img {
        grid-column: 9 / span 7;
        max-height: 397px;
        margin-top: 94px;
      }
    }

    .persona-section {
      width: 0;
      overflow: hidden;
      grid-column: 1 / span 16;
      @extend %grid-no-padding;

      & > * {
        opacity: 0;
      }

      &.open {
        width: 100%;

        & > * {
          opacity: 1;
          transition: opacity 500ms linear;
        }
      }

      .persona-contents {
        padding-top: 30px;

        h2 {
          font-size: 28px;
          font-weight: 800;
          margin-bottom: 12px;
        }

        p {
          font-size: 16px;
          line-height: 1.75;
        }

        ul {
          li {
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
            background-color: white;
            font-size: 15px;
            line-height: 1.53;
            border-radius: 4px;

            h3 {
              font-weight: bold;
              line-height: 1.53;
              color: $persona-header;
            }

            p {
              font-size: 15px;
              line-height: 1.53;
              color: $persona-text;
            }
          }
        }
      }

      &.commercial {
        .persona-contents {
          grid-column: 3 / span 12;
        }

        .columns {
          display: grid;
          grid-template-columns: repeat(12, 1fr);

          .details {
            grid-column: 1 / span 5;

            ul {
              margin-top: 24px;

              li {
                padding: 20px 25px 10px 96px;
                margin-bottom: 21px;
                background: rgba(255, 255, 255, 0.16) url(../images/icons/auto-calc.svg) no-repeat 24px 24px;

                &.flexibility {
                  background-image: url(../images/icons/flexibility.svg);
                }

                &.performance {
                  background-image: url(../images/icons/motivation.svg);
                }

                h3 {
                  margin: 0;
                }
              }
            }

            & > p {
              display: none;
            }
          }

          .demo {
            grid-column: 7 / span 6;

            .img {
              max-height: 350px;
              max-width: 60%;
              margin-bottom: 18px;
            }

            button {
              margin-top: 40px;
            }
          }
        }
      }

      &.operations {
        .persona-contents {
          grid-column: 3 / span 12;

          h2 {
            margin-bottom: 8px;
            color: white;
          }

          & > p {
            width: 50%;
            color: white;
          }

          ul {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 32px;

            li {
              padding: 96px 25px 32px;
              box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.08);
              background: white url(../images/icons/auto-calc.svg) no-repeat center 32px;

              &.central-data {
                background-image: url(../images/icons/centralisation.svg);
              }

              &.secure-auto {
                background-image: url(../images/icons/secure.svg);
              }

              &.crm {
                background-image: url(../images/icons/crm.svg);
              }

              h3 {
                margin-bottom: 16px;
                text-align: center;
              }

              p {
                text-align: left;
              }
            }
          }

          button {
            margin-top: 40px;
          }
        }
      }

      &.finance {
        .persona-contents {
          grid-column: 1 / span 16;
          @extend %grid-no-padding;

          .description {
            grid-column: 1 / span 7;

            h2 {
              padding: 0 20%;
              margin-bottom: 4px;
              color: white;
            }

            p {
              margin-bottom: 30px;
              padding: 0 20%;
              color: white;
            }

            .img {
              width: 100%;
              max-height: 397px;
            }
          }

          .details {
            grid-column: 8 / span 8;

            ul {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(2, 1fr);
              grid-column-gap: 32px;
              grid-row-gap: 30px;
              margin-bottom: 40px;

              li {
                padding: 20px 24px 12px 96px;
                box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.06);
                background: white url(../images/icons/accuracy.svg) no-repeat 24px 24px;

                &.audits {
                  background-image: url(../images/icons/audit-trails.svg);
                }

                &.forecasting {
                  background-image: url(../images/icons/forecasting.svg);
                }

                &.productivity {
                  background-image: url(../images/icons/productivity.svg);
                }
              }
            }

            .request-demo {
              padding: 0;
              display: block;

              .demo-details {
                width: 100%;
              }
            }
          }
        }
      }

      &.sales {
        .persona-contents {
          grid-column: 1 / span 16;
          @extend %grid-no-padding;

          .img {
            grid-column: 2 / span 5;
            grid-row: 1 / span 1;
            height: 278px;
            margin-top: 154px;
          }

          .details {
            grid-column: 8 / span 8;
            grid-row: 1 / span 1;

            h2 {
              margin-bottom: 6px;
            }

            & > p {
              width: 60%;
              margin-bottom: 40px;
            }

            ul {
              display: grid;
              grid-template-columns: repeat(2, auto);
              grid-column-gap: 32px;
              margin-bottom: 32px;

              li {
                padding: 20px 24px 18px 96px;
                box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.06);
                background: white url(../images/icons/motivation.svg) no-repeat 24px 24px;

                &.focus {
                  background-image: url(../images/icons/focus.svg);
                }
              }
            }
          }
        }
      }
    }

    .persona-navigation {
      grid-row: 2 / span 1;
      grid-column: 1 / span 16;
      z-index: 2;

      h2 {
        height: 18px;
        line-height: 1.5;
        margin-bottom: 18px;
      }

      h2, .clear-persona {
        font-size: 12px;
        font-weight: bold;
        color: $wireframe-home-nav-header;
        text-transform: uppercase;
        display: inline-block;
      }

      .clear-persona {
        margin-left: 8px;
        &::before {
          content: '|';
          margin-right: 8px;
          display: inline-block;
        }

        button {
          background: none;
          padding: 0;
          width: auto;
          height: auto;
          font-size: 12px;
          line-height: 1.5;
          color: $wireframe-persona-clear;
          text-decoration: underline;
          text-transform: none;
          margin-left: 74px;
        }
      }

      ul {
        @extend %grid-no-padding;
        grid-column-gap: 0;
        width: 100%;
        position: relative;

        li.benefits-nav {
          font-size: 0;
          padding: 0;
          grid-column: 13 / span 2;
          &::after {
            content: 'arrow_downward';
            background-color: $cardinal-regular;
            font-family: 'Material Icons', sans-serif;
            font-size: 36px;
            font-weight: bold;
            color: $cardinal-x-light;
            grid-column: 13 / span 2;
            height: 100%;
            justify-content: center;
            align-content: center;
            display: grid;
          }

          &:hover::after {
            background-color: $cardinal-dark;
            color: white;
          }
        }

        li {
          background-color: $cardinal-xxx-light;
          border-left: 1px solid white;
          padding: 24px 32px;
          font-size: 14px;
          line-height: 1.5;
          color: $nevada;
          cursor: pointer;

          &.selected, &:hover {
            background-color: $cardinal-xx-light;

            h3, p {
              color: $firefly-light;
            }
          }

          h3 {
            font-size: 15px;
            font-weight: bold;
            line-height: 1.53;
            margin-bottom: 4px;
            text-transform: uppercase;
            color: $cardinal-x-dark;
          }

          &:nth-child(1) {
            grid-column: 1 / span 3;
          }
          &:nth-child(2) {
            grid-column: 4 / span 3;
          }
          &:nth-child(3) {
            grid-column: 7 / span 3;
          }
          &:nth-child(4) {
            grid-column: 10 / span 3;
            border-right: 1px solid white;
          }
        }
      }
    }
  }

  .persona-radio-navigation {
    position: absolute;
    right: 32px;
    top: calc(50vh - 71px);

    li {
      font-size: 0;
      width: 12px;
      height: 12px;
      border: 2px solid $cardinal-regular;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 2px 22px;

      &.selected, &:hover {
        background-color: $cardinal-regular;
      }

      &.selected {
        width: 16px;
        height: 16px;
        border: 3px solid $cardinal-dark;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  main > section.benefits {
    background-color: $cardinal-regular;
    @extend %grid;
    margin-left: -32px;
    grid-template-rows: auto 1fr;
    grid-row-gap: 70px;
    font-size: 15px;
    line-height: 1.53;
    color: #fbfbfb;
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      grid-column: 7 / span 10;
      grid-row: 1 / span 1;
      text-align: left;
      margin-top: 85px;
      font-size: 24px;
      color: white;
    }

    & > blockquote {
      grid-column: 1 / span 5;
      grid-row: 1 / span 2;
      font-size: 18px;
      font-weight: 300;
      line-height: 2;
      color: white;
      position: relative;
      padding: 184px 66px 216px 118px;
      background: $cardinal-dark url(../images/speech.svg) no-repeat 120% 111px;
      background-size: 282px 316px;
      object-fit: contain;

      cite {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.46;
        display: block;
        margin-top: 72px;

        .company {
          font-weight: normal;
        }
      }
    }

    & > ul {
      grid-column: 7 / span 8;
      grid-row: 2 / span 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 32px;
      grid-row-gap: 40px;
      align-content: start;
      padding-bottom: 85px;

      h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 8px;
      }
    }
  }

  main > section.partners {
    background-color: rgba(197, 197, 197, 0.14);
    grid-template-rows: auto auto 1fr;
    padding: 71px 0 179px;

    & > h2 {
      margin-bottom: 25px;
    }

    & > p {
      grid-column: 1 / span 16;
      text-align: center;
      margin-bottom: 76px;
    }
  }

  section.customers {
    background-color: white;
    grid-template-rows: auto 1fr auto;

    h2 {
      margin-bottom: 66px;
    }

    .logos {
      grid-row: 2 / span 1;
      grid-column: 1 / span 16;
    }

    .request-demo {
      grid-row: 3 / span 1;
      grid-column: 1 / span 16;
      padding-bottom: 0;
    }
  }

  @media(max-width: exclusive-breakpoint($hd-display)) {
    & > main {
      padding-top: 65px;
    }

    &.finance {
      background-position: -1298px -314px;
    }

    section.contents {
      height: calc(100vh - 65px);
      min-height: 770px;

      .intro {
        .intro-contents {
          margin-top: 148px;

          grid-column: 2 / span 5;

          h1 {
            font-size: 50px;
            line-height: 1;
          }

          p {
            font-size: 14px;
            line-height: 1.5;
          }
        }

        .img {
          margin-top: 118px;
          max-height: 308px;
        }
      }

      .persona-section {
        &.commercial {
          .persona-contents {
            padding-top: 88px;
            grid-column: 2 / span 13;

            h2 {
              font-size: 24px;
              line-height: 1.5;
            }

            .details {
              ul li {
                background: none;
                padding: 0;
                box-shadow: none;

                &.flexibility {
                  background-image: none;
                }

                &.performance {
                  background-image: none;
                }

                h3 {
                  font-size: 14px;
                  line-height: 1.5;
                }

                p {
                  font-size: 14px;
                  line-height: 1.5;
                }
              }

              p {
                display: block;
                color: $persona-text;
                font-size: 14px;
                line-height: 1.5;
              }
            }

            .demo {
              grid-column: 8 / span 5;

              & > p {
                display: none;
              }

              .img {
                max-height: 327px;
                max-width: 80%;
              }

              button {
                margin-top: 30px;
              }
            }
          }
        }

        &.operations {
          .persona-contents {
            padding-top: 54px;

            h2 {
              text-align: center;
              font-size: 20px;
              line-height: 1.5;
            }

            p {
              margin: 0 auto;
              text-align: center;
              font-size: 15px;
              line-height: 1.5;
            }

            button {
              margin-left: auto;
              margin-right: auto;
              display: block;
            }

            ul li {
              h3 {
                font-size: 14px;
                line-height: 1.5;
              }

              p {
                font-size: 14px;
                line-height: 1.5;
              }
            }
          }
        }

        &.finance {
          .persona-contents {
            padding-top: 70px;

            .description {
              h2 {
                font-size: 20px;
                line-height: 1.5;
                margin-bottom: 48px;
              }

              p {
                display: none;
              }

              .img {
                max-width: 90%;
              }
            }

            .details {
              padding-top: 68px;

              ul li {
                background: none;
                box-shadow: none;
                padding: 0;

                &.audits {
                  background-image: none;
                }

                &.forecasting {
                  background-image: none;
                }

                &.productivity {
                  background-image: none;
                }
              }
            }
          }
        }

        &.sales {
          .persona-contents {
            padding-top: 70px;

            .img {
              max-height: 213px;
            }

            .details {
              grid-column: 8 / span 6;

              h2 {
                font-size: 20px;
                line-height: 1.5;
                margin-bottom: 18px;
              }

              & > p {
                width: 100%;
                font-size: 14px;
                line-height: 1.5;
                color: $persona-text;
                margin-bottom: 34px;
              }

              ul li {
                background: none;
                box-shadow: none;
                padding: 0;

                &.focus {
                  background-image: none;
                }
              }
            }
          }
        }
      }
    }
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    background-position: 574px -1164px;

    &.commercial {
      background-position: 456px -1264px;
    }

    &.operations {
      background-position: -1304px -628px;

      section.contents .persona-navigation ul li {
        &.benefits-nav {
          background-color: transparent;
          border: none;

          &::after {
            color: white;
            background-color: transparent;
          }

          &:hover::after, &.selected::after {
            color: white;
            background-color: transparent;
          }
        }
      }
    }

    &.finance {
      background-position: -1440px -628px;
    }

    .persona-radio-navigation {
      display: none;
    }

    section.contents {
      button {
        font-size: 13px;
        width: auto;
        padding: 12px 24px 14px;
      }

      .intro {
        grid-column: 1 / span 12;

        .intro-contents {
          grid-column: 2 / span 4;
          margin-top: 226px;

          h1 {
            font-size: 22px;
            line-height: 1.5;
          }

          button {
            font-size: 13px;
          }
        }

        .img {
          grid-column: 6 / span 6;
          max-height: 272px;
          margin-top: 202px;
        }
      }

      .persona-section {
        grid-column: 1 / span 12;

        &.commercial {
          .persona-contents {
            grid-column: 2 / span 10;

            h2 {
              font-size: 18px;
              line-height: 1.5;
            }

            .img {
              max-width: 100%;
            }
          }
        }

        &.operations {
          .persona-contents {
            grid-column: 1 / span 12;

            h2 {
              font-size: 18px;
            }

            ul {
              grid-column-gap: 40px;
            }
          }
        }

        &.finance {
          .persona-contents {
            grid-column: 1 / span 12;

            .description {
              grid-column: 1 / span 5;

              h2 {
                font-size: 18px;
                padding: 0;
              }

              .img {
                max-width: 100%;
                height: 180px;
              }
            }

            .details {
              grid-column: 6 / span 7;

              .request-demo {
                margin-left: -120px;
              }
            }
          }
        }

        &.sales {
          .persona-contents {
            grid-column: 1 / span 12;

            .img {
              grid-column: 1 / span 5;
            }

            .details {
              grid-column: 6 / span 7;

              h2 {
                font-size: 18px;
              }
            }
          }
        }
      }

      .persona-navigation {
        margin-bottom: 50px;
        grid-column: 2 / span 10;

        ul {
          grid-template-columns: repeat(4, 1fr);
          grid-column-gap: 0;
          grid-template-rows: 1fr auto;
          grid-row-gap: 32px;

          li {
            grid-column: auto !important;
            width: 100%;

            &.benefits-nav {
              grid-row: 2 / span 1;
              grid-column: 1 / span 4 !important;
              line-height: 1;
              justify-self: center;
              width: auto;

              &::after {
                background-color: white;
                color: $cardinal-regular;
              }

              &:hover::after {
                background-color: white;
                color: $cardinal-dark;
              }
            }

            h3 {
              text-align: center;
            }

            p {
              display: none;
            }
          }
        }
      }
    }

    main > section.benefits {
      h2 {
        grid-column: 5 / span 8;
      }

      & > blockquote {
        grid-column: 1 / span 4;
        padding: 100px 40px 100px;
      }

      ul.benefits-list {
        grid-column: 5 / span 8;
        padding-bottom: 40px;
      }
    }

    main > section.partners {
      padding: 70px 40px;

      & > h2, & > p {
        grid-column: 1 / span 12;
      }

      & > ul.partners {
        grid-column: 1 / span 12;
      }
    }

    main > section.customers {
      padding: 70px 40px;

      & > h2, & > ul.logos, & > .request-demo {
        grid-column: 1 / span 12;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    background-position: 322px -1124px;

    section.contents .persona-navigation ul li {
      &.benefits-nav {
        display: none;
      }
    }

    &.commercial {
      background-position: 364px -1270px;
    }

    &.operations {
      background-position: -1446px -636px;
    }

    &.finance {
      background-position: -1476px -628px;
    }

    &.sales {
      background-position: -1572px -330px;
    }

    section.contents {
      min-height: 810px;

      .intro {
        grid-column: 1 / span 8;

        .intro-contents {
          grid-column: 1 / span 4;

          h1 {
            font-size: 18px;
          }
        }

        .img {
          grid-column: 5 / span 4;
          max-height: 178px;
          margin-top: 238px;
        }
      }

      .persona-section {
        grid-column: 1 / span 8;

        &.commercial {
          .persona-contents {
            grid-column: 1 / span 8;

            .details {
              grid-column: 1 / span 6;
            }

            .demo {
              grid-column: 8 / span 5;
            }
          }
        }

        &.operations {
          .persona-contents {
            padding-top: 30px;
            grid-column: 1 / span 8;

            & > p {
              width: 80%;
            }

            ul {
              grid-template-rows: repeat(2, 1fr);
              grid-template-columns: repeat(2, 1fr);
              grid-row-gap: 25px;

              li {
                padding: 88px 16px 16px;

                h3 {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }

        &.finance {
          .persona-contents {
            grid-column: 1 / span 8;

            .details {
              ul {
                display: block;

                li {
                  margin-bottom: 12px;
                }
              }

              .request-demo {
                margin-left: -240px;
              }
            }
          }
        }

        &.sales {
          .persona-contents {
            grid-column: 1 / span 8;

            .img {
              grid-column: 1 / span 4;
              max-height: 170px;
            }

            .details {
              grid-column: 5 / span 8;

              ul {
                display: block;

                li {
                  margin-bottom: 12px;
                }
              }
            }
          }
        }
      }

      .persona-navigation {
        grid-column: 2 / span 6;
        margin-bottom: 32px;

        ul {
          grid-row-gap: 24px;

          li {
            padding: 16px 24px;

            h3 {
              font-size: 13px;
            }
          }
        }
      }
    }

    main > section.benefits {
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 32px;
      margin: 0;
      padding-top: 0;
      padding-bottom: 68px;

      & > h2, & > ul.benefits-list, & > blockquote {
        grid-column: 1 / span 8;
      }

      & > blockquote {
        grid-row: 1 / span 1;
        margin: 0 -32px;
        padding: 82px 124px;
        background-position: 92% top;
        font-size: 14px;

        cite {
          text-align: center;
        }
      }

      & > h2 {
        grid-row: 2 / span 1;
        margin: 0;
        font-size: 16px;
        margin-top: 16px;
        text-align: center;
      }

      & > ul.benefits-list {
        grid-row: 3 / span 1;
        padding-bottom: 32px;

        h3 {
          font-size: 14px;
        }

        p {
          font-size: 13px;
        }
      }
    }

    main > section.partners {
      padding: 48px 32px;

      & > h2, & > p, & > ul.partners {
        grid-column: 1 / span 8;
      }

      h2 {
        font-size: 16px;
      }

      p {
        font-size: 13px;
      }

      ul.partners {
        li {
          padding: 12px;

          p {
            display: none;
          }
        }
      }
    }

    main > section.customers {
      padding: 48px 32px;

      & > h2, & > ul.logos, & > .request-demo {
        grid-column: 1 / span 8;
      }

      h2 {
        font-size: 16px;
        margin-bottom: 24px;
      }

      .request-demo {
        padding-top: 24px;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($small-tablet)) {
    background-image: url(../images/shapes/default.svg), url(../images/shapes/sales.svg);
    background-position: 252px -142px, -770px 1938px !important;
    background-size: 1000px, 1000px !important;

    section.contents {
      grid-template-rows: repeat(5, auto);
      height: auto;
      padding-top: 0;
      padding-bottom: 68px;

      & > div {
        grid-row: auto;
        padding: 68px 0 32px;
      }

      .intro {
        .intro-contents, .img {
          margin-top: 0;
        }
      }

      .persona-section {
        width: 100%;
        overflow: auto;

        &.commercial {
          .persona-contents {
            padding-top: 0;
          }
        }

        &.operations {
          .persona-contents {
            padding-top: 0;

            h2 {
              color: $firefly-light;
            }

            p {
              color: $nevada;
            }
          }
        }

        &.finance {
          .persona-contents {
            padding-top: 0;

            .description {
              h2 {
                color: $firefly-light;
              }
            }

            .details {
              .request-demo {
                margin-left: -180px;
              }
            }
          }
        }

        & > * {
          opacity: 1;
        }
      }

      .persona-navigation {
        display: none;
      }
    }

    main > section.partners {
      & > ul.partners {
        grid-column: 2 / span 6;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 24px;

        li p {
          display: block;
        }
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-phone)) {
    background-position: 190px -42px, -498px 1834px !important;
    background-size: 500px, 800px !important;

    main > section.contents {
      .intro {
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 64px;

        .img {
          grid-row: 1 / span 1;
          grid-column: 1 / span 8;
        }

        .intro-contents {
          grid-row: 2 / span 1;
          grid-column: 1/ span 8;

          button {
            display: block;
            margin: 0 auto;
          }
        }
      }

      .persona-section {
        &.commercial {
          .persona-contents {
            .columns {
              grid-template-rows: repeat(2, auto);
              grid-row-gap: 64px;

              & > div {
                grid-column: 1 / span 12;
              }

              & > .details {
                grid-row: 1 / span 1;
              }

              & > .demo {
                grid-row: 2 / span 1;

                .img {
                  max-width: 100%;
                  margin-bottom: 32px;
                }

                button {
                  display: block;
                  margin: 0 auto;
                }
              }
            }
          }
        }

        &.operations {
          .persona-contents {
            & > p {
              width: 100%;
            }

            & > ul {
              grid-template-rows: repeat(4, 1fr);
              grid-template-columns: 1fr;

              li {
                width: 94%;
                margin: 0 auto;
              }
            }
          }
        }

        &.finance {
          .persona-contents {
            grid-template-rows: repeat(2, auto);
            grid-row-gap: 64px;

            & > .description {
              grid-column: 1 / span 8;
            }

            & > .details {
              padding-top: 0;
              grid-column: 1 / span 8;
              display: block;

              .request-demo {
                margin: 0;
              }
            }
          }
        }

        &.sales {
          .persona-contents {
            padding-top: 0;
            grid-template-rows: repeat(2, auto);
            grid-row-gap: 48px;

            & > .img {
              grid-row: 1 / span 1;
              grid-column: 1 / span 8;
              margin-top: 0;
            }

            & > .details {
              grid-column: 1 / span 8;
              grid-row: 2 /span 1;

              button {
                display: block;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }

    main > section.benefits {
      & > blockquote {
        padding-left: 32px;
        padding-right: 32px;
      }

      & > ul.benefits-list {
        display: block;

        li {
          margin-bottom: 32px;
        }
      }
    }

    main > section.partners {
      ul.partners {
        grid-column: 1 / span 8;
      }
    }

    main > section.customers {
      & > ul.logos li {
        width: 80%;
      }

      .request-demo {
        padding: 0;
      }
    }
  }
}