@import '../styles/palette';
@import '../styles/grid';
@import '../styles/forms';

.site-container.home {
  background: transparent;
  overflow-x: hidden;
  position: relative;

  &:not(.page-down) footer.site-footer {
    display: none;
  }

  &, & > * {
    z-index: 2;
  }

  &::after {
    content: '';
    transform: rotate(32deg);
    background-color: #ff3b3d;
    position: absolute;
    top: -102px;
    right: -488px;
    width: 1200px;
    height: 1058.3px;
  }

  main > section {
    @extend %grid;

    &:not(.contents) {
      padding: 86px 32px;
    }

    & > h2 {
      text-align: center;
      grid-row: 1 / span 1;
      grid-column: 1 / span 16;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  section.contents {
    grid-template-rows: 1fr auto;
    height: calc(100vh - 202px);

    button {
      @extend %btn;
      font-size: 16px;
      line-height: 1.88;
      padding: 12px 0 14px;
      text-align: center;
      width: 214px;
    }

    & > div {
      grid-row: 1 / span 1;
    }

    .intro {
      grid-column: 3 / span 5;
      padding-top: 124px;

      h1 {
        text-align: left;
        margin-bottom: 16px;
        font-weight: 800;
        color: $firefly-dark;
        font-size: 80px;
        line-height: 0.98;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
      }

      p {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.75;
        color: $nevada;
      }

      &.closed {
        display: none;
      }
    }

    .persona-section {
      width: 0;
      overflow: hidden;
      grid-column: 1 / span 16;
      @extend %grid-no-padding;

      & > * {
        opacity: 0;
      }

      &.open {
        width: 100%;
        transition: width 500ms linear;

        & > * {
          opacity: 1;
          transition: opacity 500ms linear 500ms;
        }
      }

      .persona-contents {
        padding-top: 30px;

        h2 {
          font-size: 28px;
          font-weight: 800;
          margin-bottom: 12px;
        }

        p {
          font-size: 16px;
          line-height: 1.75;
          color: $wireframe-persona-text;
        }

        ul {
          li {
            box-shadow: 0 2px 12px 0 $wireframe-persona-boxshadow;
            background-color: white;
            font-size: 15px;
            line-height: 1.53;
            color: $wireframe-persona-text;

            h3 {
              color: $wireframe-persona-header;
              font-weight: bold;
              line-height: 1.53;
            }

            p {
              font-size: 15px;
              line-height: 1.53;
            }
          }
        }
      }

      &.commercial {
        .persona-contents {
          grid-column: 3 / span 12;
        }

        .columns {
          display: grid;
          grid-template-columns: repeat(12, 1fr);

          ul {
            margin-top: 24px;
            grid-column: 1 / span 5;

            li {
              padding: 20px 25px 10px 96px;
              margin-bottom: 21px;
              background: rgba(255, 255, 255, 0.16) url(../images/icons/auto-calc.svg) no-repeat 24px 24px;

              &.flexibility {
                background-image: url(../images/icons/flexibility.svg);
              }

              &.performance {
                background-image: url(../images/icons/motivation.svg);
              }

              h3 {
                margin: 0;
              }
            }
          }

          .details {
            grid-column: 7 / span 6;

            button {
              margin-top: 40px;
            }
          }
        }
      }

      &.operations {
        .persona-contents {
          grid-column: 3 / span 12;

          h2 {
            margin-bottom: 8px;
          }

          & > p {
            width: 50%;
          }

          ul {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 32px;

            li {
              padding: 96px 25px 32px;
              box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.08);
              background: white url(../images/icons/auto-calc.svg) no-repeat center 32px;

              &.central-data {
                background-image: url(../images/icons/centralisation.svg);
              }

              &.secure-auto {
                background-image: url(../images/icons/secure.svg);
              }

              &.crm {
                background-image: url(../images/icons/crm.svg);
              }

              h3 {
                margin-bottom: 16px;
                text-align: center;
              }
            }
          }

          button {
            margin-top: 40px;
          }
        }
      }

      &.finance {
        .persona-contents {
          grid-column: 2 / span 14;
          display: grid;
          grid-template-columns: repeat(14, 1fr);
          grid-template-rows: repeat(3, auto);

          h2 {
            grid-column: 2 / span 12;
            grid-row: 1 / span 1;
            margin-bottom: 40px;
          }

          ul {
            grid-column: 7 / span 8;
            grid-row: 2 / span 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 32px;
            grid-row-gap: 20px;

            li {
              padding: 20px 24px 12px 96px;
              box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.06);
              background: white url(../images/icons/accuracy.svg) no-repeat 24px 24px;

              &.audits {
                background-image: url(../images/icons/audit-trails.svg);
              }

              &.forecasting {
                background-image: url(../images/icons/forecasting.svg);
              }

              &.productivity {
                background-image: url(../images/icons/productivity.svg);
              }
            }
          }

          .request-demo {
            grid-column: 1 / span 14;
            grid-row: 3 / span 1;
            grid-template-columns: repeat(14, 1fr);
            padding-top: 72px;

            .demo-details {
              grid-column: 5 / span 6;
            }
          }
        }
      }

      &.sales {
        .persona-contents {
          grid-column: 8 / span 8;

          h2 {
            margin-bottom: 6px;
          }

          & > p {
            width: 60%;
            margin-bottom: 40px;
          }

          ul {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 32px;
            margin-bottom: 32px;

            li {
              padding: 20px 24px 18px 96px;
              box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.06);
              background: white url(../images/icons/motivation.svg) no-repeat 24px 24px;

              &.focus {
                background-image: url(../images/icons/focus.svg);
              }
            }
          }
        }
      }
    }

    .persona-navigation {
      grid-row: 2 / span 1;
      grid-column: 1 / span 16;
      z-index: 2;

      h2 {
        height: 18px;
        line-height: 1.5;
        margin-bottom: 18px;
      }

      h2, .clear-persona {
        font-size: 12px;
        font-weight: bold;
        color: $wireframe-home-nav-header;
        text-transform: uppercase;
        display: inline-block;
      }

      .clear-persona {
        margin-left: 8px;
        &::before {
          content: '|';
          margin-right: 8px;
          display: inline-block;
        }

        button {
          background: none;
          padding: 0;
          width: auto;
          height: auto;
          font-size: 12px;
          line-height: 1.5;
          color: $wireframe-persona-clear;
          text-decoration: underline;
          text-transform: none;
          margin-left: 74px;
        }
      }

      ul {
        @extend %grid-no-padding;
        grid-column-gap: 0;
        width: 100%;
        position: relative;

        li.benefits-nav {
          font-size: 0;
          padding: 0;
          grid-column: 13 / span 2;
          &::after {
            content: 'arrow_downward';
            background-color: $cardinal-regular;
            font-family: 'Material Icons', sans-serif;
            font-size: 36px;
            font-weight: bold;
            color: $translucent;
            grid-column: 13 / span 2;
            height: 100%;
            justify-content: center;
            align-content: center;
            display: grid;
          }
        }

        li {
          background-color: $unnamed;
          border-left: 1px solid white;
          padding: 24px 32px;
          font-size: 14px;
          line-height: 1.5;
          color: $nevada;
          cursor: pointer;

          &.selected, &:hover {
            background-color: $cardinal-xx-light;

            h3, p {
              color: $firefly-light;
            }
          }

          h3 {
            font-size: 15px;
            font-weight: bold;
            line-height: 1.53;
            margin-bottom: 4px;
            text-transform: uppercase;
            color: $cardinal-x-dark;
          }

          &:nth-child(1) {
            grid-column: 1 / span 3;
          }
          &:nth-child(2) {
            grid-column: 4 / span 3;
          }
          &:nth-child(3) {
            grid-column: 7 / span 3;
          }
          &:nth-child(4) {
            grid-column: 10 / span 3;
            border-right: 1px solid white;
          }
        }
      }
    }
  }

  .persona-radio-navigation {
    position: absolute;
    right: 32px;
    top: calc(50vh - 71px);

    li {
      font-size: 0;
      width: 12px;
      height: 12px;
      border: 2px solid $cardinal-regular;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 2px 22px;

      &.selected, &:hover {
        background-color: $cardinal-regular;
      }

      &.selected {
        width: 16px;
        height: 16px;
        border: 3px solid $cardinal-dark;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  main > section.benefits {
    background-color: $cardinal-regular;
    @extend %grid;
    margin-left: -32px;
    grid-template-rows: auto 1fr;
    grid-row-gap: 70px;
    font-size: 15px;
    line-height: 1.53;
    color: #fbfbfb;
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      grid-column: 7 / span 10;
      grid-row: 1 / span 1;
      text-align: left;
      margin-top: 85px;
      font-size: 24px;
      color: white;
    }

    & > blockquote {
      grid-column: 1 / span 5;
      grid-row: 1 / span 2;
      font-size: 18px;
      font-weight: 300;
      line-height: 2;
      color: white;
      position: relative;
      padding: 184px 66px 216px 118px;
      background: $cardinal-dark url(../images/speech.svg) no-repeat right 111px;
      background-size: 282px 316px;
      object-fit: contain;

      cite {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.46;
        display: block;
        margin-top: 72px;

        .company {
          font-weight: normal;
        }
      }
    }

    & > ul {
      grid-column: 7 / span 8;
      grid-row: 2 / span 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 32px;
      grid-row-gap: 40px;
      align-content: start;

      h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 15px;
      }
    }
  }

  main > section.partners {
    background-color: rgba(197, 197, 197, 0.14);
    grid-template-rows: auto auto 1fr;
    padding: 71px 0 179px;

    & > h2 {
      margin-bottom: 25px;
    }

    & > p {
      grid-column: 1 / span 16;
      text-align: center;
      margin-bottom: 76px;
    }
  }

  section.customers {
    background-color: white;
    grid-template-rows: auto 1fr auto;

    h2 {
      margin-bottom: 66px;
    }

    .logos {
      grid-row: 2 / span 1;
      grid-column: 1 / span 16;
    }

    .request-demo {
      grid-row: 3 / span 1;
      grid-column: 1 / span 16;
      padding-bottom: 0;
    }
  }
}