@import '../styles/palette';
@import '../styles/grid';

.pricing-overview {
  width: 100%;
  @extend %grid;

  .plan-details {
    border: 1px solid $wireframe-pricing-border;
    background-color: white;
    grid-column: 5 / span 3;
    height: fit-content;

    h2 {
      display: none;
    }

    p {
      border-bottom: 1px solid $wireframe-pricing-border;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.5;
      color: $wireframe-pricing-text;
      padding: 45px 32px 28px;

      .price {
        color: $wireframe-price-text;
        font-size: 46px;
        line-height: 1.17;
        font-weight: 800;
      }
    }

    .features {
      padding: 28px 24px;
      position: relative;
      display: grid;
      grid-template-rows: 1fr auto;
      height: 295px;
      font-size: 14px;
      line-height: 1.3;

      ul {
        padding: 0 8px;

        li {
          margin-bottom: 16px;
        }
      }

      button {
        width: 100%;
        font-size: 16px;
        line-height: 1.9;
        font-weight: 600;
        padding: 12px 12px 14px;
        background-color: $wireframe-pricing-text;
        color: white;
        border: none;
      }
    }
  }

  .faqs {
    grid-column: 9 / span 5;

    h2 {
      font-size: 24px;
      line-height: 1.5;
      color: $wireframe-pricing-heading;
      margin-bottom: 16px;
      font-weight: bold;
    }

    .faq-items {
      dl {
        font-size: 15px;
        color: $wireframe-faq-text;
        line-height: normal;

        dt {
          font-weight: bold;
          color: $wireframe-pricing-heading;
        }

        dd {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.testimonial {
  .current-customers {
    padding: 48px 0 74px;
    @extend %grid;

    h2 {
      display: none;
    }

    .logos {
      grid-column: 5 / span 8;
    }
  }

  .quote {
    background-color: $wireframe-quote-bground;
    color: white;
    padding: 158px 0 145px;
    @extend %grid;

    blockquote {
      grid-column: 6 / span 6;
      font-size: 18px;
      font-weight: 300;
      line-height: 2;
      margin: 0 auto;
      position: relative;

      span, cite {
        z-index: 1;
        position: relative;
      }

      &::after {
        content: '\201D';
        display: block;
        font-size: 1000px;
        color: rgba(0, 0, 0, 0.16);
        position: absolute;
        top: -414px;
        right: -88px;
        line-height: 1;
        font-family: 'Bebas', sans-serif;
        font-stretch: ultra-expanded;
        overflow: hidden;
      }

      cite {
        margin-top: 72px;
        font-size: 13px;
        line-height: 1.46;
        font-weight: bold;
        display: block;

        .company {
          font-weight: normal;
        }
      }
    }
  }
}
