@import '../styles/palette';
@import '../styles/grid';
@import '../styles/forms';

.pricing-overview {
  width: 100%;
  @extend %grid;

  .plan-details {
    border: 1px solid $firefly-x-light;
    border-radius: 6px;
    background-color: white;
    grid-column: 5 / span 3;
    height: fit-content;

    h2 {
      display: none;
    }

    p {
      background-color: $firefly-light;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.5;
      color: white;
      padding: 45px 48px 28px;

      .price {
        font-family: 'Montserrat', sans-serif;
        font-size: 64px;
        line-height: 1.22;
        font-weight: 200;
      }
    }

    .features {
      padding: 44px 32px 32px;
      position: relative;
      display: grid;
      grid-template-rows: 1fr auto;
      height: 295px;
      font-size: 14px;
      line-height: 1.29;

      ul {
        padding-left: 24px;

        li {
          margin-bottom: 16px;
          &::before {
            content: 'check';
            font-family: 'Material Icons', sans-serif;
            margin-right: 5px;
            color: #111111;
            font-weight: bold;
          }
        }
      }

      button {
        @extend %btn;
        width: 100%;
        font-size: 16px;
        line-height: 1.9;
        font-weight: 600;
        padding: 12px 12px 14px;
      }
    }
  }

  .faqs {
    grid-column: 9 / span 5;

    h2 {
      margin-bottom: 16px;
    }

    .faq-items {
      dl {
        font-size: 15px;
        color: $wireframe-faq-text;
        line-height: normal;

        dt {
          font-weight: bold;
          color: $wireframe-pricing-heading;
        }

        dd {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.testimonial {
  .current-customers {
    padding: 48px 0 74px;
    @extend %grid;

    h2 {
      display: none;
    }

    .logos {
      grid-column: 5 / span 8;
    }
  }

  .quote {
    background: $cardinal-dark url(../images/speech.svg) no-repeat 70% 46px;
    background-size: 364px 266.5px;
    object-fit: contain;
    color: white;
    padding: 158px 0 145px;
    @extend %grid;

    blockquote {
      grid-column: 6 / span 6;
      font-size: 18px;
      font-weight: 300;
      line-height: 2;
      margin: 0 auto;
      position: relative;

      span, cite {
        z-index: 1;
        position: relative;
      }

      cite {
        margin-top: 72px;
        font-size: 13px;
        line-height: 1.46;
        font-weight: bold;
        display: block;

        .company {
          font-weight: normal;
        }
      }
    }
  }
}
