@import '../styles/palette';
@import '../styles/grid';

.pricing-overview {
  width: 100%;
  @extend %grid;

  .plan-details {
    border: 1px solid $wireframe-pricing-border;
    background-color: white;
    grid-column: 3 / span 2;
    height: fit-content;

    h2 {
      display: none;
    }

    p {
      border-bottom: 1px solid $wireframe-pricing-border;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.5;
      color: $wireframe-pricing-text;
      padding: 45px 32px 28px;

      .price {
        color: $wireframe-price-text;
        font-size: 46px;
        line-height: 1.17;
        font-weight: 800;
      }
    }

    .features {
      padding: 28px 24px;
      position: relative;
      display: grid;
      grid-template-rows: 1fr auto;
      height: 295px;
      font-size: 14px;
      line-height: 1.3;

      ul {
        padding: 0 8px;

        li {
          margin-bottom: 16px;
        }
      }

      button {
        width: 100%;
        font-size: 16px;
        line-height: 1.9;
        font-weight: 600;
        padding: 12px 12px 14px;
        background-color: $wireframe-pricing-text;
        color: white;
        border: none;
      }
    }
  }

  .faqs {
    grid-column: 6 / span 4;

    h2 {
      font-size: 24px;
      line-height: 1.5;
      color: $wireframe-pricing-heading;
      margin-bottom: 16px;
      font-weight: bold;
    }

    .faq-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 24px;

      dl {
        font-size: 15px;
        color: $wireframe-faq-text;
        line-height: normal;

        dt {
          font-weight: bold;
          color: $wireframe-pricing-heading;
        }

        dd {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.testimonial {
  .current-customers {
    padding: 66px 0 122px;

    h2 {
      display: none;
    }
  }
}