@import '../styles/palette';
@import '../styles/grid';

.site-container.resources {
  background-color: #f7f7f7;
  .contents {
    @extend %grid;

    & > div {
      grid-column: 3 / span 12;
    }
  }
  
  .request-demo > .demo-details {
    background-color: white;
  }
}