@import '../styles/palette';
@import '../styles/forms';
@import './sidePanel';

.site-container {
  .contact-form {
    @include side-panel();

    &.open {
      .close-button {
        display: block;
      }
    }

    & > div {
      padding: 104px 32px 32px;
      opacity: 0;

      .close-button {
        position: absolute;
        top: 22px;
        right: 36px;
        font-size: 0;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        display: none;

        &::after {
          font-family: 'Material Icons', sans-serif;
          content: 'close';
          font-size: 22px;
        }
      }

      h2 {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.39;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 24px;
      }

      form {
        label {
          display: block;
          margin-bottom: 16px;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.71;
          color: $firefly-light;

          input, textarea {
            display: block;
            width: 75%;
            @extend %input;
            margin-top: 4px;
          }

          textarea {
            height: 126px;
            font-family: "Open Sans", sans-serif;
            color: $firefly-x-light;
          }
        }

        button {
          @extend %btn-secondary;
          font-size: 15px;
          line-height: 1.53;
          color: white;
          width: 160px;
          margin: 32px 0;
          padding: 12px 8px;
        }
      }

      address {
        font-size: 14px;
        line-height: 1.5;
        color: #757575;

        .org {
          font-weight: bold;
          color: #4a4f55;
        }

        .adr {
          margin-bottom: 12px;

          span {
            display: block;
          }
        }

        a.tel {
          font-weight: normal;
          color: #4a4f55;
        }

        a.email {
          color: $firefly-light;
          font-weight: bold;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}