@import '../styles/palette';
@import '../styles/forms';
@import '../styles/functions';
@import '../styles/breakpoints';
@import './sidePanel';

.site-container, .site-container.home {
  & > .contact-form {
    @include side-panel();
    z-index: 4;
    visibility: hidden;
    overflow-x: auto;

    &.open {
      visibility: visible;
      width: 976px;

      .close-button {
        display: block;
      }
    }

    & > div {
      padding: 86px 32px 32px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 32px;
      opacity: 0;

      .close-button {
        position: absolute;
        top: 22px;
        right: 36px;
        font-size: 0;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        display: none;

        &::after {
          font-family: 'Material Icons', sans-serif;
          font-feature-settings: "liga";
          content: 'close';
          font-size: 22px;
        }
      }

      .address {
        grid-column: 1 / span 4;

        h2 {
          font-size: 18px;
          font-weight: bold;
          line-height: 1.39;
          margin-bottom: 8px;
        }

        p {
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 24px;
        }

        address {
          font-size: 14px;
          line-height: 1.5;
          color: #757575;

          .org {
            font-weight: bold;
            color: #4a4f55;
          }

          .adr {
            margin-bottom: 12px;

            span {
              display: block;
            }
          }

          a.tel {
            font-weight: normal;
            color: #4a4f55;
          }

          a.email {
            color: $firefly-light;
            font-weight: bold;
          }

          p {
            margin-bottom: 0;
          }
        }
      }

      form {
        grid-column: 5 / span 4;

        label {
          display: block;
          margin-bottom: 16px;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.71;
          color: $firefly-light;

          input, textarea {
            display: block;
            width: 100%;
            @extend %input;
            margin-top: 4px;
          }

          textarea {
            height: 126px;
            font-family: "Open Sans", sans-serif;
            color: $firefly-x-light;
          }
        }

        button {
          @extend %btn-secondary;
          font-size: 15px;
          line-height: 1.53;
          color: white;
          width: 160px;
          margin: 32px 0;
          padding: 12px 8px;
        }
      }
    }

    @media(max-width: exclusive-breakpoint(976px)) {
      &.open {
        width: 100%;
      }
    }

    @media(max-width: exclusive-breakpoint($small-tablet)) {
      & > div {
        grid-template-rows: repeat(2, auto);

        .address {
          grid-row: 1 / span 1;
          grid-column: 1 / span 8;

          h2 {
            text-align: center;
          }

          address {
            display: none;
          }
        }

        form {
          grid-row: 2 / span 1;
          grid-column: 1 / span 8;

          label {
            font-size: 15px;
          }

          button {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
            font-size: 16px;
            padding: 21px;
          }
        }

        address {
          display: none;
        }
      }
    }
  }
}