@import "../styles/palette";
@import "../styles/forms";

footer.site-footer {
  border-top: 2px solid $wireframe-footer-border;
  color: $wireframe-footer-text;
  display: block;

  & > .contact {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    background-color: white;
    height: 88px;
    padding: 20px 120px 28px;

    & > .links {
      justify-self: left;
      font-size: 13px;
      line-height: 1.5;
      padding: 12px 0 6px;

      & > div {
        display: inline-block;
      }

      .social {
        margin-right: 18px;
        a {
          display: inline-block;
          font-size: 0;
          margin-right: 8px;

          &:first-letter {
            font-size: 13px;
          }
        }
      }
    }

    & > .subscribe {
      justify-self: right;
      font-size: 13px;
      line-height: 1.5;

      form {
        & > * {
          vertical-align: middle;
        }

        label {
          display: inline-block;

          span {
            display: block;

            &:first-child {
              font-weight: 600;
            }

            &:last-child {
              font-size: 12px;
              font-weight: 300;
            }

            b {
              font-weight: bold;
              color: $wireframe-header;
            }
          }
        }

        input {
          @extend %input;
          margin-left: 26px;
          width: 274px;
        }

        button {
          @extend %btn;
          height: 38px;
          width: 120px;
        }
      }
    }
  }

  & > .copyright {
    background-color: $wireframe-copyright-bground;
    padding: 20px 0 18px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    color: $wireframe-copyright-text;

    b {
      font-weight: bold;
    }

    ul {
      display: inline-block;

      li {
        display: inline-block;

        &::before {
          content: '|';
          margin: 0 4px;
        }
      }
    }
  }
}