@import "../styles/palette";
@import "../styles/forms";
@import "../styles/functions";
@import "../styles/breakpoints";

.site-container.bottom {
  footer.site-footer > .contact {
    bottom: 62px;
    transition: bottom 0.2s linear;
  }
}

footer.site-footer {
  color: $wireframe-footer-text;
  display: block;

  & > .contact {
    border-top: 1px solid #e4e4e4;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    background-color: white;
    height: 88px;
    padding: 20px 120px 28px;
    position: fixed;
    bottom: 0;

    & > .links {
      justify-self: left;
      font-size: 13px;
      line-height: 1.5;
      padding: 12px 0 6px;

      & > div, & > address {
        display: inline-block;
      }

      a.tel {
        font-weight: normal;
        color: $nevada;
      }

      .social {
        margin-right: 18px;
        a {
          display: inline-block;
          font-size: 0;
          margin-right: 8px;
          width: 19px;
          height: 19px;
          line-height: 19px;
          vertical-align: top;
          background: transparent url(../images/icons/linkedin.svg) no-repeat 0 0;

          &.facebook {
            background-image: url(../images/icons/facebook.svg);
          }

          &.instagram {
            background-image: url(../images/icons/instagram.svg);
          }

          &.twitter {
            background-image: url(../images/icons/twitter.svg);
          }
        }
      }
    }

    & > .subscribe {
      justify-self: right;
      font-size: 13px;
      line-height: 1.5;

      form {
        & > * {
          vertical-align: middle;
        }

        label {
          display: inline-block;

          span {
            display: block;

            &:first-child {
              font-weight: 600;
            }

            &:last-child {
              font-size: 12px;
              font-weight: 300;
            }
          }
        }

        input {
          @extend %input;
          margin-left: 26px;
          width: 274px;
        }

        button {
          @extend %btn-dark;
          height: 38px;
          width: 120px;
        }
      }
    }
  }

  & > .copyright {
    background-color: $firefly-dark;
    padding: 20px 0 18px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 2.08;
    color: white;
    margin-top: 88px;

    b {
      color: white;
    }

    ul {
      display: inline-block;

      li {
        display: inline-block;

        a {
          color: white;
          font-weight: 300;
        }

        &::before {
          content: '|';
          margin: 0 4px;
        }
      }
    }
  }

  @media(max-width: exclusive-breakpoint($hd-display)) {
    & > .contact {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    & > .contact {
      padding: 11px 40px 19px;

      & > .links .social {
        display: block;
        margin-bottom: 4px;
      }

      & > .subscribe {
        form {
          label {
            display: block;
            margin-bottom: 4px;

            span:last-child {
              display: none;
            }
          }

          input {
            margin-left: 0;
          }
        }
      }
    }
  }
}