@import "../styles/palette";
@import "../styles/forms";

footer.site-footer {
  border-top: 2px solid $wireframe-footer-border;
  color: $wireframe-footer-text;
  display: block;

  & > .contact {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    background-color: white;
    height: 88px;
    padding: 20px 120px 28px;

    & > .links {
      justify-self: left;
      font-size: 13px;
      line-height: 1.5;
      padding: 12px 0 6px;

      & > div, & > address {
        display: inline-block;
      }

      a.tel {
        font-weight: normal;
        color: $nevada;
      }

      .social {
        margin-right: 18px;
        a {
          display: inline-block;
          font-size: 0;
          margin-right: 8px;
          width: 19px;
          height: 19px;
          line-height: 19px;
          vertical-align: top;
          background: transparent url(../images/icons/linkedin.svg) no-repeat 0 0;
          
          &.facebook {
            background-image: url(../images/icons/facebook.svg);
          }
          
          &.instagram {
            background-image: url(../images/icons/instagram.svg);
          }
          
          &.twitter {
            background-image: url(../images/icons/twitter.svg);
          }
        }
      }
    }

    & > .subscribe {
      justify-self: right;
      font-size: 13px;
      line-height: 1.5;

      form {
        & > * {
          vertical-align: middle;
        }

        label {
          display: inline-block;

          span {
            display: block;

            &:first-child {
              font-weight: 600;
            }

            &:last-child {
              font-size: 12px;
              font-weight: 300;
            }
          }
        }

        input {
          @extend %input;
          margin-left: 26px;
          width: 274px;
        }

        button {
          @extend %btn;
          height: 38px;
          width: 120px;
          background-color: $firefly-light;

          &:hover {
            background-color: $firefly-regular;
          }
        }
      }
    }
  }

  & > .copyright {
    background-color: $firefly-dark;
    padding: 20px 0 18px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 2.08;
    color: white;

    b {
      color: white;
    }

    ul {
      display: inline-block;

      li {
        display: inline-block;

        a {
          color: white;
          font-weight: 300;
        }

        &::before {
          content: '|';
          margin: 0 4px;
        }
      }
    }
  }
}