@import '../styles/palette';
@import '../styles/functions';
@import '../styles/breakpoints';

@mixin fixed-header() {
  header.site-header {
    position: fixed;
    background-color: white;
    z-index: 3;
    box-shadow: 0 6px 17px 0 rgba(37, 41, 54, 0.13);

    .logo {
      background: none;
      height: auto;
      width: auto;
      padding: 25px 50px 16px;
      line-height: 0;
      font-size: 0;
      transition: font-size 0.2s linear, line-height 0.2s linear, padding 0.2s linear, height 0.2s linear, width 0.2s linear;

      a {
        width: 90px;
        height: 19px;
        display: inline-block;

        .img {
          opacity: 0;
          height: 0 !important;
          width: 0 !important;
          transition: all 0.2s linear;
        }

        background-image: url(../images/wordmark-primary.svg);
      }
    }
  }

  &.page-down {
    header.site-header {
      display: none;
    }
  }
}

.site-container.scrolled, .site-container.info {
  @include fixed-header();
}

.site-container {
  @media(max-width: exclusive-breakpoint($hd-display)) {
    @include fixed-header();
  }
}

header.site-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 32px;
  width: 100%;

  .logo {
    font-family: 'Bebas', sans-serif;
    text-transform: uppercase;
    background-color: $cardinal-regular;
    height: 202px;
    width: 184px;
    padding-top: 40px;
    transition: all 0.2s linear;

    a {
      font-size: 0;
      background: transparent url('../images/wordmark.svg') no-repeat center bottom;
      padding-bottom: 24px;
      background-size: auto 20px;
      text-decoration: none;
      color: white;
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }

  .sign-in {
    padding: 20px 0;
    height: 64px;
    width: 172px;
    text-align: center;
    background-color: $cardinal-dark;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      background-color: $cardinal-x-dark;
    }

    &::after {
      font-family: 'Material Icons', sans-serif;
      content: 'arrow_forward';
      margin-left: 12px;
      font-size: 18px;
      display: inline-block;
      vertical-align: sub;
    }
  }
}