@import '../styles/palette';

header.site-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 32px;
  width: 100%;

  .logo {
    font-family: 'Bebas', sans-serif;
    text-transform: uppercase;
    background-color: $cardinal-regular;
    height: 202px;
    width: 184px;
    padding-top: 40px;

    a {
      font-size: 0;
      background: transparent url('../images/wordmark.svg') no-repeat center bottom;
      padding-bottom: 24px;
      background-size: auto 20px;
      text-decoration: none;
      color: white;
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }

  .sign-in {
    padding: 20px 0;
    height: 64px;
    width: 172px;
    text-align: center;
    background-color: $cardinal-dark;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: $translucent;

    &::after {
      font-family: 'Material Icons', sans-serif;
      content: 'arrow_forward';
      margin-left: 12px;
      font-size: 18px;
      display: inline-block;
      vertical-align: sub;
    }
  }
}