@import '../styles/palette';
@import '../styles/grid';
@import '../styles/forms';
@import '../styles/functions';
@import '../styles/breakpoints';

.site-container.info {
  display: block;
  background: $firefly-regular url('../images/logo-lines.svg') no-repeat 0 bottom;
  background-size: 36% 57%;

  header.site-header {
    background: $firefly-dark;

    .logo {
      a {
        color: white;
        background-image: url(../images/wordmark-white.svg) !important;
      }
    }

    nav {
      a, button {
        color: white;

        &:hover {
          color: white;
          border-color: white;
        }
      }
    }

    .sign-in {
      @extend %btn-dark;
    }

    .open-nav {
      &::after {
        color: white;

        &:hover {
          color: white;
        }
      }
    }
  }

  footer {
    display: none;
  }

  & > main {
    @extend %grid;
    grid-template-rows: 1fr;
  }

  .contents {
    grid-column: 7 / span 8;
    margin-top: 25%;

    h1 {
      color: white;
      text-align: left;
      font-size: 24px;
      line-height: 1.5;
      font-weight: bold;
      margin: 0;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      line-height: 1.71;
      color: white;
    }
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    background-size: 46% 54%;

    & > main {
      .contents {
        grid-column: 5 / span 7;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    background-size: 46% 42%;
    background-position: -112px bottom;

    header.site-header {
      .nav-container {
        nav.site-nav {
          a, button {
            color: $firefly-regular;

            &:hover {
              color: $firefly-regular;
              border-color: $firefly-regular;
            }
          }
        }
      }
    }

    & > main {
      .contents {
        margin-top: 200px;
        grid-column: 2 / span 6;

        h1 {
          text-align: center;
        }
      }
    }
  }

  @media(max-width: exclusive-breakpoint($small-tablet)) {
    background-size: 82% 42%;
    background-position: -142px bottom;

    & > main {
      .contents {
        grid-column: 1 / span 8;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-phone)) {
    background-size: 116% 42%;
  }
}