@import '../styles/reset';
@import '../styles/palette';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: $nevada;
  background-color: white;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;

  & > div {
    height: 100vh;

    & > div {
      height: 100%;
    }
  }
}

.site-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  & > * {
    width: 100%;
  }

  header {
    grid-row: 1 / span 1;
  }

  & > div {
    grid-row: 2/ span 1;
  }

  footer {
    grid-row: 3 / span 1;
  }
}

a {
  color: $wireframe-link;
  text-decoration: none;
}

h1 {
  color: $wireframe-header;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 87px;
}