@import '../styles/palette';
@import '../styles/grid';

.site-container.legals {
  background-color: #f7f7f7;
}

.legals {
  main > div {
    @extend %grid;
    .contents {
      background-color: white;
      padding: 80px 0 84px;
      margin-bottom: 80px;
      grid-column: 3 / span 12;
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 32px;

      h1 {
        grid-column: 2 / span 10;
        text-align: left;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      & > div {
        grid-column: 5 / span 7;

        h2 {
          font-size: 20px;
          line-height: 1.4;
          font-weight: 800;
          color: #4a4f55;
          margin-bottom: 24px;
        }

        p {
          margin-bottom: 24px;
          font-size: 16px;
          line-height: 1.75;
        }
      }
    }
  }
}