@import "../styles/breakpoints";
@import "../styles/functions";

.logos {
  text-align: center;

  li {
    display: inline-block;
    width: 162px;
    margin-right: 24px;
    max-height: 100px;
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    li {
      margin-right: 15px;
      width: 111px;
    }
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    li {
      margin-right: 12px;
      width: 94px;
    }
  }

  @media(max-width: exclusive-breakpoint($small-tablet)) {
    display: block;

    li {
      margin: 0 auto;
      display: block;
      width: 60%;
      max-height: 100%;
    }
  }
}