@import '../styles/palette';

nav.site-nav {
  display: inline-block;
  ul {
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;

      a, button {
        font-weight: 800;
        margin-left: 30px;
        line-height: 1.5;
        padding: 20px 0 4px;
        color: $cardinal-x-dark;
        border: none;
        background-color: transparent;
        outline: none;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        cursor: pointer;
        display: inline;

        &:hover, &.selected {
          border-bottom: 3px solid $cardinal-x-dark;
        }
      }
    }
  }
}