@import '../styles/palette';

nav {
  grid-column-start: 3;
  grid-column-end: 15;
  justify-self: end;
  a {
    font-weight: 800;
    margin-left: 30px;
    display: inline-block;
    line-height: 1.5;
    padding: 28px 2px;
    height: 80px;
    color: $wireframe-nav;

    &:hover, &.selected {
      color: $wireframe-nav-selected;
    }
  }
}