@import '../styles/palette';
@import '../styles/functions';
@import '../styles/breakpoints';

ul.partners {
  grid-column: 3 / span 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;

  li {
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    line-height: 1.5;
    padding: 68px 24px 44px;
    display: grid;
    grid-template-rows: auto;

    .img {
      width: 100%;
      max-height: 150px;
      margin: 0 auto 15px;
      min-height: 96px;
    }
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    li {
      .img {
        min-height: 76px;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($small-tablet)) {
    li {
      .img {
        min-height: 160px;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-phone)) {
    li {
      .img {
        min-height: 120px;
      }
    }
  }
}
