@import '../styles/palette';
@import '../styles/grid';
@import '../styles/forms';
@import '../styles/breakpoints';
@import '../styles/functions';

.request-demo {
  @extend %grid;
  padding-top: 80px;
  padding-bottom: 90px;

  & > div {
    grid-column: 5 / span 8;
    background-color: #f7f7f7;
    padding: 24px 32px 29px;
    color: #969696;
    font-size: 15px;
    line-height: 1.67;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 16px;

    p {
      align-self: center;
    }

    button {
      @extend %btn;
      font-size: 15px;
      line-height: 1.53;
      width: 160px;
      padding: 12px 0;
      align-self: center;
    }
  }

  @media(max-width: exclusive-breakpoint($hd-display)) {
    & > div {
      p {
        font-size: 14px !important;
        line-height: 1.5;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    & > div {
      grid-column: 3 / span 8;

      p {
        font-size: 13px !important;
      }

      button {
        font-size: 13px !important;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    & > div {
      grid-column: 2 / span 6;
    }
  }

  @media(max-width: exclusive-breakpoint($small-tablet)) {
    & > div {
      grid-column: 1 / span 8;
    }
  }
}