@import '../styles/palette';
@import '../styles/grid';
@import '../styles/forms';
@import '../styles/breakpoints';
@import '../styles/functions';

.request-demo {
  @extend %grid;
  padding: 80px 0 90px;

  & > div {
    grid-column: 5 / span 8;
    background-color: #f7f7f7;
    padding: 24px 32px 29px;
    color: #969696;
    font-size: 15px;
    line-height: 1.67;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 16px;

    button {
      @extend %btn;
      font-size: 15px;
      line-height: 1.53;
      width: 160px;
      padding: 12px 0;
    }
  }

  @media(max-width: exclusive-breakpoint($small-laptop)) {
    & > div {
      grid-column: 3 / span 8;
      font-size: 13px;

      button {
        font-size: 13px;
      }
    }
  }

  @media(max-width: exclusive-breakpoint($large-tablet)) {
    & > div {
      grid-column: 2 / span 6;
    }
  }
}